@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body, html {
  color: #2b2b2b;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

.ir {
  position: absolute;
  /* position: absolute/fixed 에서만 clip 속성 작동 */
  margin: -1px;
  /* 부트스트랩에선 안씀 */
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  /* overflow: visible 이면 clip 속성 작동 안됨 */
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  /* H5BP에선 안씀 */
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

img {
  vertical-align: top;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.layoutWrap {
  width: 1080px;
  margin: 0 auto;
}

nav {
  padding-top: 40px;
  font-size: 15px;
}

nav .layoutWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 20px;
}

nav ul::after {
  display: block;
  content: '';
  clear: both;
}

nav ul li {
  float: left;
  margin-right: 30px;
  font-weight: 500;
}

nav .logo {
  margin-right: 50px;
}

nav .logo img {
  width: 100px;
}

nav .login {
  margin-left: auto;
}

main {
  min-height: calc(100vh - 161px);
}

main .layoutWrap {
  overflow: auto;
  padding-bottom: 25px;
}

footer {
  text-align: right;
  color: #666;
}

footer .layoutWrap {
  padding: 0 20px;
}

.CalendarTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CalendarTitle button {
  font-size: 20px;
}

.Calendar {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ebebeb;
}

.Calendar__todayBtn.Calendar__todayBtn {
  border-radius: 5px;
  padding: 2px 7px 3px;
  background-color: #000;
  font-size: 10px;
  color: #fff;
  vertical-align: top;
}

.Calendar__item {
  width: 100%;
  min-height: 500px;
  border-left: 1px solid #ebebeb;
}

.Calendar__item:first-child {
  border-left: 0;
}

.Calendar__item:first-child .Calendar__day {
  color: #CF273D;
}

.Calendar__item:last-child .Calendar__day {
  color: #3a56cc;
}

.Calendar__item.active .Calendar__day b {
  text-decoration: underline;
}

.Calendar__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #ebebeb;
}

.Calendar__day span {
  padding-bottom: 5px;
}

.Calendar__day b {
  font-size: 40px;
  font-weight: 900;
  font-family: roboto;
}

.Calendar__menu {
  padding: 15px;
}

.CalendarMenu {
  border-top: 1px dashed #ebebeb;
  padding: 20px 0;
}

.CalendarMenu:first-child {
  border-top: 0;
  padding-top: 0;
}

.CalendarMenu__tag {
  color: #666;
  font-size: 13px;
}

.CalendarMenu__wrap {
  margin-top: 15px;
  position: relative;
}

.CalendarMenu__wrap:hover .CalendarMenu__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CalendarMenu__thumb {
  width: 100%;
  height: 80px;
}

.CalendarMenu__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.CalendarMenu__title {
  margin-top: 10px;
}

.CalendarMenu__hover {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CalendarMenu__button {
  line-height: 0;
  text-align: center;
  font-size: 22px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 50%;
}

.CalendarMenu__button--add {
  display: block;
  margin: 20px auto;
}

.CalendarMenu__button--more {
  color: #3a56cc;
}

.CalendarMenu__button--delete {
  color: #CF273D;
}

.Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 35px 40px 50px;
  border: 10px solid #000;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 2px #333;
          box-shadow: inset 0px 0px 2px #333;
}

.Login__title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.Login__inputWrap {
  margin-top: 40px;
}

.Login dl {
  margin-top: 20px;
}

.Login dl:first-child {
  margin-top: 0;
}

.Login dt {
  font-size: 15px;
}

.Login dd {
  margin-top: 10px;
}

.Login input {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #2b2b2b;
  border-radius: 0;
  line-height: 30px;
}

.Login__buttonWrap {
  margin-top: 30px;
}

.Login__button {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.LayoutPopup {
  width: 760px;
  min-height: 677px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 144px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.LayoutPopup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.LayoutPopup__close {
  margin-left: auto;
  line-height: 0;
  font-size: 24px;
}

.LayoutPopup__title {
  font-size: 20px;
  font-weight: 700;
}

.LineBox {
  margin-top: 50px;
  padding: 30px;
  border: 10px solid #000;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 2px #333;
          box-shadow: inset 0px 0px 2px #333;
  min-height: 731px;
}

.LineBox h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.CookingList__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border-bottom: 1px solid #000;
}

.CookingList__tabItem {
  min-width: 80px;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.CookingList__tabItem--active {
  color: #fff;
  background-color: #000;
}

.CookingList__dishList {
  max-height: 508px;
  overflow: auto;
  margin-top: 20px;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DishItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 10px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #ebebeb;
  padding: 15px;
}

.DishItem__thumb {
  width: 112px;
}

.DishItem__thumb img {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  cursor: pointer;
}

.DishItem__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding-left: 10px;
}

.DishItem__title {
  font-size: 16px;
  font-weight: 500;
}

.DishItem__button {
  margin-top: 5px;
}

.DishItem__button--add {
  color: #3a56cc;
}

.LayoutPopup .CookingDetail .CookingDetail__category + dd {
  max-height: 122px;
  overflow: auto;
}

.CookingDetail {
  margin-top: 30px;
}

.CookingDetail__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.CookingDetail__thumb {
  width: calc(50% - 10px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.CookingDetail__thumb img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.CookingDetail__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.CookingDetail__title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 5px solid #000;
}

.CookingDetail__imgUrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.CookingDetail__imgUrl span {
  margin-right: 10px;
}

.CookingDetail__imgUrl p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 250px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  color: #999;
}

.CookingDetail__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  margin-top: 49px;
}

.CookingDetail__button {
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  color: #fff;
}

.CookingDetail__button--edit {
  background: #3a56cc;
}

.CookingDetail__button--delete {
  background: #CF273D;
}

.CookingDetail__ingredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
  min-height: 363px;
}

.CookingDetail__ingredient dl {
  width: calc(50% - 10px);
  background: #F8F8F8;
  padding: 20px;
}

.CookingDetail__category {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.Ingredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ebebeb;
  color: #666;
  line-height: 20px;
}

.Ingredient__title {
  margin-right: auto;
}

.Ingredient__count {
  margin-left: 5px;
}

.Ingredient__unit {
  margin-left: 5px;
}

.Ingredient__count, .Ingredient__unit {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.Ingredient:first-child, .Ingredient:first-of-type {
  padding-top: 0;
  border-top: 0;
}

.Inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border: 1px solid #ebebeb;
}

.Inventory dl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ebebeb;
}

.Inventory dl:first-of-type {
  border-left: 0;
}

.Inventory__category {
  padding: 20px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.Inventory__ingredient {
  padding: 10px 20px 30px;
  height: 542px;
  overflow: auto;
}

.Inventory__addButton {
  color: #3a56cc;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.InventoryPopup {
  z-index: 10;
  width: 380px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.InventoryPopup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.InventoryPopup__close {
  margin-left: auto;
  line-height: 1;
  font-size: 18px;
}

.InventoryPopup__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.InventoryPopup__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.InventoryPopup__amount, .InventoryPopup__unit {
  width: 76px;
}

.InventoryPopup input {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ccc;
  padding: 0 10px;
  vertical-align: top;
}

.InventoryPopup__buttonArea {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.InventoryPopup__button {
  display: inline-block;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  color: #fff;
}

.InventoryPopup__button--add {
  background-color: #3a56cc;
}

.CookingForm {
  margin-top: 30px;
}

.CookingForm__top {
  padding-bottom: 30px;
  border-bottom: 1px dashed #ebebeb;
}

.CookingForm__category {
  margin-top: 30px;
}

.CookingForm [class*="section"] {
  line-height: 36px;
}

.CookingForm__section01 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.CookingForm__section02 {
  width: 80px;
}

.CookingForm__section03 {
  width: 80px;
}

.CookingForm__section04 {
  min-width: 76px;
}

.CookingForm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.CookingForm ul li {
  width: calc(50% - 15px);
}

.CookingForm dl {
  margin-top: 10px;
}

.CookingForm dl:first-child {
  margin-top: 0;
}

.CookingForm dl dt {
  line-height: 36px;
  color: #666;
}

.CookingForm dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #ebebeb;
}

.CookingForm dl dd:first-of-type {
  margin-top: 10px;
  padding-top: 0;
  border-top: none;
}

.CookingForm input,
.CookingForm select {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ccc;
  padding: 0 10px;
  vertical-align: top;
}

.CookingForm__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 50px;
  text-align: center;
}

.CookingForm__more {
  margin-top: 20px;
}

.CookingForm__optionButton {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  background-color: #bbb;
}

.CookingForm__optionButton--add {
  background-color: transparent;
  border: 1px solid #000;
  color: #2b2b2b;
}

.CookingForm__button {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.CookingForm__button--submit {
  background-color: #000;
}

.CookingForm__button--edit {
  background-color: #3a56cc;
}

.CookingForm__button--remove {
  background-color: #CF273D;
}
/*# sourceMappingURL=style.css.map */