@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html{
    color: #2b2b2b;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.ir{
    position: absolute; /* position: absolute/fixed 에서만 clip 속성 작동 */
    margin: -1px; /* 부트스트랩에선 안씀 */
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden; /* overflow: visible 이면 clip 속성 작동 안됨 */
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%); /* H5BP에선 안씀 */
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    cursor: pointer;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

a{
    color: #2b2b2b;
    text-decoration: none;
}

img{
    vertical-align: top;
}

*{
    box-sizing: border-box;
}

.layoutWrap{
    width: 1080px;
    margin: 0 auto;
}

nav{
    padding-top: 40px;
    font-size: 15px;
}

nav .layoutWrap{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
}

nav ul::after{
    display: block;
    content: '';
    clear: both;
}

nav ul li{
    float: left;
    margin-right: 30px;
    font-weight: 500;
}

nav .logo{
    margin-right: 50px;
    img{
        width: 100px;
    }
}

nav .login{
    margin-left: auto;
}

main{
    min-height: calc(100vh - 161px);

    .layoutWrap{
        overflow: auto;
        padding-bottom: 25px;
    }
}

footer{
    height: 50px;
    text-align: right;
    color: #666;

    .layoutWrap{
        padding: 0 20px;
    }
}

.CalendarTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        font-size: 20px;
    }
}

.Calendar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ebebeb;

    &__item{
        width: 100%;
        min-height: 500px;
        border-left: 1px solid #ebebeb;

        &:first-child{
            border-left: 0;

            .Calendar__day{
                color: #CF273D;
            }
        }

        &:last-child{
            .Calendar__day{
                color: #3a56cc;
            }
        }
    }

    &__day{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        background-color: #F8F8F8;
        border-bottom: 1px solid #ebebeb;

        span{
            padding-bottom: 5px;
        }

        b{
            font-size: 40px;
            font-weight: 900;
            font-family: roboto;
        }
    }

    &__menu{
        padding: 15px;
    }
}

.CalendarMenu{
    border-top: 1px dashed #ebebeb;
    padding: 20px 0;

    &:first-child{
        border-top: 0;
        padding-top: 0;
    }

    &__tag{
        color: #666;
        font-size: 13px;
    }

    &__wrap{
        margin-top: 15px;
        position: relative;

        &:hover{
            .CalendarMenu__hover{
                display: flex;
            }
        }
    }

    &__thumb{
        width: 100%;
        height: 80px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        margin-top: 10px;
    }

    &__hover{
        display: none;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgba(255,255,255,0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__button{
        line-height: 0;
        text-align: center;
        font-size: 22px;
        flex-basis: 50px;
        width: 50px;
        height: 50px;
        background-color: #eee;
        border-radius: 50%;

        &--add{
            display: block;
            margin: 20px auto;
        }

        &--more{
            color: #3a56cc;
        }

        &--delete{
            color: #CF273D;
        }
    }
}

.Login{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 35px 40px 50px;
    border: 10px solid #000;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px #333;

    &__title{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    &__inputWrap{
        margin-top: 40px;
    }

    dl{
        margin-top: 20px;

        &:first-child{
            margin-top: 0;
        }
    }

    dt{
        font-size: 15px;
    }

    dd{
        margin-top: 10px;
    }

    input{
        width: 100%;
        margin: 0;
        padding: 0 10px;
        border: 1px solid #2b2b2b;
        border-radius: 0;
        line-height: 30px;
    }

    &__buttonWrap{
        margin-top: 30px;
    }

    &__button{
        display: block;
        width: 100%;
        height: 36px;
        line-height: 36px;
        background-color: #000;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }
}

.LayoutPopup{
    width: 760px;
    min-height: 677px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translateX(-50%);

    &__header{
        display: flex;
    }

    &__close{
        margin-left: auto;
        line-height: 0;
        font-size: 24px;
    }

    &__title{
        font-size: 20px;
        font-weight: 700;
    }
}

.LineBox{
    margin-top: 50px;
    padding: 30px;
    border: 10px solid #000;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px #333;
    min-height: 731px;

    h2{
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }
}

.CookingList{
    &__tab{
        display: flex;
        margin-top: 30px;
        border-bottom: 1px solid #000;
    }

    &__tabItem{
        min-width: 80px;
        height: 34px;
        line-height: 34px;
        padding: 0 15px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;

        &--active{
            color: #fff;
            background-color: #000;
        }
    }

    &__dishList{
        max-height: 508px;
        overflow: auto;
        margin-top: 20px;
        row-gap: 20px;
        column-gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}

.DishItem{
    display: flex;
    width: calc(50% - 10px);
    height: fit-content;
    border: 1px solid #ebebeb;
    padding: 15px;

    &__thumb{
        width: 112px;

        img{
            width: 100%;
            height: 80px;
            object-fit: cover;
            vertical-align: top;
            cursor: pointer;
        }
    }

    &__desc{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding-left: 10px;
    }

    &__title{
        font-size: 16px;
        font-weight: 500;
    }

    &__button{
        margin-top: 5px;

        &--add{
            color: #3a56cc;
        }
    }
}

.LayoutPopup .CookingDetail .CookingDetail__category + dd{
    max-height: 122px;
    overflow: auto;
}

.CookingDetail{
    margin-top: 30px;

    &__top{
        display: flex;
        gap: 20px;
    }

    &__thumb{
        width: calc(50% - 10px);
        flex-shrink: 0;

        img{
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }

    &__desc{
        flex: 1;
    }

    &__title{
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 5px solid #000;
    }

    &__imgUrl{
        display: flex;
        align-items: center;
        margin-top: 20px;

        span{
            margin-right: 10px;
        }

        p{
            flex: 1;
            max-width: 250px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space:nowrap;
            color: #999;
        }
    }

    &__buttonWrap{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 49px;
    }

    &__button{
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        color: #fff;

        &--edit{
            background: #3a56cc;
        }

        &--delete{
            background: #CF273D;
        }
    }

    &__ingredient{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 20px;
        min-height: 363px;

        dl{
            width: calc(50% - 10px);
            background: #F8F8F8;
            padding: 20px;
        }
    }

    &__category{
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }
}

.Ingredient{
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #ebebeb;
    color: #666;
    line-height: 20px;

    &__title{
        margin-right: auto;
    }

    &__count{
        margin-left: 5px;
    }

    &__unit{
        margin-left: 5px;
    }

    &__count,
    &__unit{
        flex-shrink: 0;
    }

    &:first-child,
    &:first-of-type{
        padding-top: 0;
        border-top: 0;
    }
}

.Inventory{
    display: flex;
    margin-top: 30px;
    border: 1px solid #ebebeb;

    dl{
        flex: 1;        
        border-left: 1px solid #ebebeb;
        
        &:first-of-type{
            border-left: 0;
        }
    }

    &__category{
        padding: 20px;
        background-color: #F8F8F8;
        border-bottom: 1px solid #ebebeb;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        position: relative;
    }

    &__ingredient{
        padding: 10px 20px 30px; 
        height: 542px;
        overflow: auto;
    }

    &__addButton{
        color: #3a56cc;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.InventoryPopup{
    z-index: 10;
    width: 380px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);

    &__title{
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
    }

    &__close{
        margin-left: auto;
        line-height: 1;
        font-size: 18px;
    }

    &__wrap{
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }

    &__name{
        flex: 1;
    }

    &__amount,
    &__unit{
        width: 76px;
    }

    input{
        width: 100%;
        height: 36px;
        line-height: 36px;
        border: 1px solid #ccc;
        padding: 0 10px;
        vertical-align: top;
    }

    &__buttonArea{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__button{
        display: inline-block;
        padding: 0 10px;
        height: 36px;
        line-height: 36px;
        color: #fff;

        &--add{
            background-color: #3a56cc;
        }
    }
}

.CookingForm{
    margin-top: 30px;

    &__top{
       padding-bottom: 30px; 
       border-bottom: 1px dashed #ebebeb;
    }

    &__category{
        margin-top: 30px;
    }

    [class*="section"]{
        line-height: 36px;
    }

    &__section01{
        flex: 1;
    }

    &__section02{
        width: 80px;
    }
    
    &__section03{
        width: 80px;
    }
    
    &__section04{
        min-width: 76px;
    }
    
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li{
            width: calc(50% - 15px);
        }
    }

    dl{
        margin-top: 10px;

        &:first-child{
            margin-top: 0;
        }
        
        dt{
            line-height: 36px;
            color: #666;
        }

        dd{
            display: flex;
            gap: 10px;
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px dashed #ebebeb;
            
            &:first-of-type{
                margin-top: 10px;
                padding-top: 0;
                border-top: none;
            }
        }
    }

    input,
    select{
        width: 100%;
        height: 36px;
        line-height: 36px;
        border: 1px solid #ccc;
        padding: 0 10px;
        vertical-align: top;
    }

    &__buttonWrap{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
        text-align: center;
    }

    &__more{
        margin-top: 20px;
    }

    &__optionButton{
        display: block;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        color: #fff;
        font-size: 14px;
        background-color: #bbb;

        &--add{
            background-color: transparent;
            border: 1px solid #000;
            color: #2b2b2b;
        }
    }

    &__button{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;

        &--submit{
            background-color: #000;
        }

        &--edit{
            background-color: #3a56cc;
        }

        &--remove{
            background-color: #CF273D;
        }
    }
}
